body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.position {
    text-align: center;
}

.track {padding: 5%;
text-align: center;}

.main {margin: 3%;}
.lyrics {color: white;}

.btnsize {
    padding: 10px;
    height: 40px;
    width: 250px;
}